In [3]:
import numpy as np
import pandas as pd


labels = ['a','b','c','d']
myData = [10,20,30,40]
arr = np.array(myData)
d = {'a':10,'b':20,'c':30,'d':40}

In [4]:
labels

['a', 'b', 'c', 'd']

In [5]:
myData

[10, 20, 30, 40]

In [6]:
arr

array([10, 20, 30, 40])

In [7]:
d

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [11]:
pd.Series(data=myData)

0    10
1    20
2    30
3    40
dtype: int64

In [12]:
pd.Series(data=myData)

0    10
1    20
2    30
3    40
dtype: int64

In [13]:
pd.Series(data = myData, index = labels)

a    10
b    20
c    30
d    40
dtype: int64

In [14]:
d

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [15]:
pd.Series(arr)

0    10
1    20
2    30
3    40
dtype: int32

In [16]:
pd.Series(myData)

0    10
1    20
2    30
3    40
dtype: int64

In [17]:
pd.Series(arr)

0    10
1    20
2    30
3    40
dtype: int32

In [18]:
pd.Series(d)

a    10
b    20
c    30
d    40
dtype: int64

In [19]:
pd.Series(myData)

0    10
1    20
2    30
3    40
dtype: int64

In [20]:
pd.

SyntaxError: invalid syntax (<ipython-input-20-bc888235687a>, line 1)

In [21]:
pd.Series(arr)

0    10
1    20
2    30
3    40
dtype: int32

In [22]:
pd.Series(data = myData, index = labels)

a    10
b    20
c    30
d    40
dtype: int64

In [23]:
pd.Series(d)

a    10
b    20
c    30
d    40
dtype: int64

In [25]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])

In [26]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [27]:
ser2 = pd.Series(['USA','Gerrmany','Italy','Japan'],[1,2,3,4])

In [28]:
ser2

1         USA
2    Gerrmany
3       Italy
4       Japan
dtype: object

In [30]:
ser2[1]

'USA'

In [31]:
ser1['USA']

1

In [32]:
ser1 + ser2

C:\Users\umair\Anaconda3\lib\site-packages\pandas\core\indexes\base.py:3772: RuntimeWarning: '<' not supported between instances of 'str' and 'int', sort order is undefined for incomparable objects
  return this.join(other, how=how, return_indexers=return_indexers)

USA        NaN
Germany    NaN
USSR       NaN
Japan      NaN
1          NaN
2          NaN
3          NaN
4          NaN
dtype: object

In [34]:
ser3 = pd.Series(data=labels)

In [35]:
ser3

0    a
1    b
2    c
3    d
dtype: object

In [36]:
ser1 + ser3

USA        NaN
Germany    NaN
USSR       NaN
Japan      NaN
0          NaN
1          NaN
2          NaN
3          NaN
dtype: object

In [37]:
ser2 = pd.Series([1,2,3,4],['USA','Germany','Italy','Japan'])

In [38]:
ser2

USA        1
Germany    2
Italy      3
Japan      4
dtype: int64

In [39]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [41]:
print(ser1)
print(ser2)

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64
USA        1
Germany    2
Italy      3
Japan      4
dtype: int64

In [42]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [43]:
np.random.randn(25)

array([-0.6252532 ,  0.34540368, -1.13147552, -0.2697164 ,  0.52296197,
       -0.33210988, -1.20837701,  1.46314381, -0.96299246, -0.20535026,
       -0.48113363,  0.13383449, -1.16301952,  1.48034423, -1.12797798,
       -1.02710435,  0.18457251, -1.62093838, -0.80739409,  1.49718916,
        0.92082758, -1.17408407,  0.62977347, -0.98265939,  1.78933314])