In [68]:
import pandas as pd

In [69]:
from sklearn.datasets import load_iris

In [70]:
iris = load_iris()

In [71]:
type(iris)

sklearn.utils.Bunch

In [72]:
iris.keys()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [73]:
print(iris['DESCR'])

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica

    :Summary Statistics:

    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
    ============== ==== ==== ======= ===== ====================

    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. topic:: References

   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
     Mathematical Statistics" (John Wiley, NY, 1950).
   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
     Structure and Classification Rule for Recognition in Partially Exposed
     Environments".  IEEE Transactions on Pattern Analysis and Machine
     Intelligence, Vol. PAMI-2, No. 1, 67-71.
   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
     on Information Theory, May 1972, 431-433.
   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
     conceptual clustering system finds 3 classes in the data.
   - Many, many more ...

In [74]:
type(iris['feature_names'])

list

In [75]:
len(iris['feature_names'])

4

In [76]:
type(iris['data'])

numpy.ndarray

In [77]:
len(iris['data'])

150

In [78]:
df = pd.DataFrame(iris['data'], columns = iris['feature_names'])

In [79]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [80]:
len(iris['target'])

150

In [81]:
iris['data'].shape

(150, 4)

In [82]:
len(iris['feature_names'])

4

In [83]:
# for us to create a dataframe out of raw data or some unorganized data you first need to match the dimension for our dataframe
# just like we did above, you can see the dimension for iris['data'] and iris['feature_names'] are just perfect for creating
# a pandas data frame

In [84]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [85]:
# since tensorflow does not accept any spaces between columns names so we need to set the column names for our dataframes

df.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)'],
      dtype='object')

In [86]:
df.columns = ['sepal_length', 'sepel_width', 'petal_length', 'petal_width',]

In [87]:
df.head()

   sepal_length  sepel_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [88]:
target = pd.Series(iris['target'])

In [89]:
df.head()

   sepal_length  sepel_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [90]:
target.shape

(150,)

In [91]:
type(target)

pandas.core.series.Series

In [92]:
target = target.apply(int)

In [93]:
type(target)

pandas.core.series.Series

In [95]:
from sklearn.model_selection import train_test_split

In [96]:
X_train, X_test, y_train, y_test = train_test_split(df,target, test_size = 0.3, random_state = 101)

In [97]:
import tensorflow as tf

In [132]:
# now we need to featurize our columns with tensorflow 'feature_columns' method in order to use them in our algrithm
# for that

# steps
# - set the feature_columns by applying tf.feature_columns.numeric_columns method
# - create 2 input functions for training and testing our model using tf.estimator.inputs.pandas_fn method
# - create the classifier by providing the hidden_units, n_classes, and feature_columns
# - train the classifier by calling 'train' method and passing in input_fn and steps off of classifier instance
# - now we are gonna call predictions off of our tf.estimator method to predict he algorithm outcome and compare with actual data

feat_cols = []

for column in df:
    feat_cols.append(tf.feature_column.numeric_column(column))

In [100]:
feat_cols

[NumericColumn(key='sepal_length', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='sepel_width', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='petal_length', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='petal_width', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)]

In [106]:
input_fn = tf.estimator.inputs.pandas_input_fn(x = X_train, y = y_train, batch_size = 10, num_epochs = 5, shuffle = True)

In [107]:
classifier = tf.estimator.DNNClassifier(hidden_units = [10,20,10], n_classes = 3, feature_columns = feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\umair\AppData\Local\Temp\tmpmnte0icr
INFO:tensorflow:Using config: {'_model_dir': 'C:\\Users\\umair\\AppData\\Local\\Temp\\tmpmnte0icr', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x00000208A94AEF28>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [108]:
classifier.train(input_fn = input_fn, steps = 50)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 0 into C:\Users\umair\AppData\Local\Temp\tmpmnte0icr\model.ckpt.
INFO:tensorflow:loss = 19.66383, step = 1
INFO:tensorflow:Saving checkpoints for 50 into C:\Users\umair\AppData\Local\Temp\tmpmnte0icr\model.ckpt.
INFO:tensorflow:Loss for final step: 4.349932.

In [111]:
predict_fn = tf.estimator.inputs.pandas_input_fn(x=X_test, batch_size = len(X_test), shuffle = False)

In [112]:
predictions = list(classifier.predict(input_fn = predict_fn))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
WARNING:tensorflow:From C:\Users\umair\Anaconda3\lib\site-packages\tensorflow\python\training\saver.py:1266: checkpoint_exists (from tensorflow.python.training.checkpoint_management) is deprecated and will be removed in a future version.
Instructions for updating:
Use standard file APIs to check for files with this prefix.
INFO:tensorflow:Restoring parameters from C:\Users\umair\AppData\Local\Temp\tmpmnte0icr\model.ckpt-50
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

In [113]:
predictions

[{'logits': array([ 6.269969 ,  1.8229762, -6.0464187], dtype=float32),
  'probabilities': array([9.8841745e-01, 1.1578064e-02, 4.4258982e-06], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object)},
 {'logits': array([ 5.7695417,  1.710745 , -5.788058 ], dtype=float32),
  'probabilities': array([9.8301423e-01, 1.6976444e-02, 9.4006500e-06], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object)},
 {'logits': array([ 3.7384126,  1.2269439, -4.4686112], dtype=float32),
  'probabilities': array([9.2470860e-01, 7.5039133e-02, 2.5219694e-04], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object)},
 {'logits': array([-5.9164386 , -1.0120702 ,  0.67374766], dtype=float32),
  'probabilities': array([0.00115768, 0.15614566, 0.84269667], dtype=float32),
  'class_ids': array([2], dtype=int64),
  'classes': array([b'2'], dtype=object)},
 {'logits': array([-4.074848  , -0.47909996, -0.7932962 ], dtype=float32),
  'probabilities': array([0.01561037, 0.5688878 , 0.4155018 ], dtype=float32),
  'class_ids': array([1], dtype=int64),
  'classes': array([b'1'], dtype=object)},
 {'logits': array([-5.490898  , -0.9235567 ,  0.71575606], dtype=float32),
  'probabilities': array([0.00168541, 0.16228463, 0.83603   ], dtype=float32),
  'class_ids': array([2], dtype=int64),
  'classes': array([b'2'], dtype=object)},
 {'logits': array([-5.1919417 , -0.8561946 ,  0.42074454], dtype=float32),
  'probabilities': array([0.00284689, 0.21745087, 0.77970225], dtype=float32),
  'class_ids': array([2], dtype=int64),
  'classes': array([b'2'], dtype=object)},
 {'logits': array([-4.255002  , -0.630337  ,  0.11233808], dtype=float32),
  'probabilities': array([0.00852182, 0.31967187, 0.67180634], dtype=float32),
  'class_ids': array([2], dtype=int64),
  'classes': array([b'2'], dtype=object)},
 {'logits': array([-5.6622443, -0.9571266,  0.8575231], dtype=float32),
  'probabilities': array([0.00126593, 0.13989978, 0.85883427], dtype=float32),
  'class_ids': array([2], dtype=int64),
  'classes': array([b'2'], dtype=object)},
 {'logits': array([ 4.7411666,  1.465734 , -5.149909 ], dtype=float32),
  'probabilities': array([9.6352923e-01, 3.6421899e-02, 4.8778176e-05], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object)},
 {'logits': array([-5.78001   , -0.98103833,  0.89064884], dtype=float32),
  'probabilities': array([0.00109733, 0.13320029, 0.86570233], dtype=float32),
  'class_ids': array([2], dtype=int64),
  'classes': array([b'2'], dtype=object)},
 {'logits': array([ 5.895324 ,  1.7222337, -5.6528296], dtype=float32),
  'probabilities': array([9.8481977e-01, 1.5170734e-02, 9.5073010e-06], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object)},
 {'logits': array([ 4.8485556,  1.5045979, -5.404034 ], dtype=float32),
  'probabilities': array([9.6587342e-01, 3.4092423e-02, 3.4062527e-05], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object)},
 {'logits': array([-6.830824 , -1.1937231,  1.2381347], dtype=float32),
  'probabilities': array([2.8773493e-04, 8.0752172e-02, 9.1896009e-01], dtype=float32),
  'class_ids': array([2], dtype=int64),
  'classes': array([b'2'], dtype=object)},
 {'logits': array([-5.322675  , -0.88823605,  0.757637  ], dtype=float32),
  'probabilities': array([0.00191398, 0.16135807, 0.836728  ], dtype=float32),
  'class_ids': array([2], dtype=int64),
  'classes': array([b'2'], dtype=object)},
 {'logits': array([-3.7768188 , -0.42810288, -0.72465277], dtype=float32),
  'probabilities': array([0.0197522 , 0.5622691 , 0.41797876], dtype=float32),
  'class_ids': array([1], dtype=int64),
  'classes': array([b'1'], dtype=object)},
 {'logits': array([-3.8336132 , -0.50098   , -0.17867254], dtype=float32),
  'probabilities': array([0.01477602, 0.4139059 , 0.5713181 ], dtype=float32),
  'class_ids': array([2], dtype=int64),
  'classes': array([b'2'], dtype=object)},
 {'logits': array([-4.017874  , -0.5497066 , -0.09546517], dtype=float32),
  'probabilities': array([0.01196174, 0.38370743, 0.60433084], dtype=float32),
  'class_ids': array([2], dtype=int64),
  'classes': array([b'2'], dtype=object)},
 {'logits': array([ 4.657684 ,  1.4208837, -4.7140064], dtype=float32),
  'probabilities': array([9.6211714e-01, 3.7801016e-02, 8.1875573e-05], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object)},
 {'logits': array([-5.264321  , -0.87414503,  0.9130831 ], dtype=float32),
  'probabilities': array([0.00177496, 0.14315835, 0.8550667 ], dtype=float32),
  'class_ids': array([2], dtype=int64),
  'classes': array([b'2'], dtype=object)},
 {'logits': array([-3.419925 , -0.3840054, -0.5287709], dtype=float32),
  'probabilities': array([0.02510405, 0.5226693 , 0.45222664], dtype=float32),
  'class_ids': array([1], dtype=int64),
  'classes': array([b'1'], dtype=object)},
 {'logits': array([ 5.646712 ,  1.6751792, -5.6699886], dtype=float32),
  'probabilities': array([9.81492341e-01, 1.84957627e-02, 1.19428105e-05], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object)},
 {'logits': array([-4.450026 , -0.70592  ,  0.3885107], dtype=float32),
  'probabilities': array([0.00589777, 0.2493058 , 0.74479645], dtype=float32),
  'class_ids': array([2], dtype=int64),
  'classes': array([b'2'], dtype=object)},
 {'logits': array([-3.8006551 , -0.42366633, -0.8646102 ], dtype=float32),
  'probabilities': array([0.02035679, 0.5960971 , 0.38354605], dtype=float32),
  'class_ids': array([1], dtype=int64),
  'classes': array([b'1'], dtype=object)},
 {'logits': array([-3.9051123 , -0.47663304, -0.49851   ], dtype=float32),
  'probabilities': array([0.01613103, 0.4973153 , 0.48655367], dtype=float32),
  'class_ids': array([1], dtype=int64),
  'classes': array([b'1'], dtype=object)},
 {'logits': array([-3.0304651 , -0.27066383, -0.88497555], dtype=float32),
  'probabilities': array([0.03945874, 0.623318  , 0.33722323], dtype=float32),
  'class_ids': array([1], dtype=int64),
  'classes': array([b'1'], dtype=object)},
 {'logits': array([-2.6445117 , -0.21975788, -0.84861887], dtype=float32),
  'probabilities': array([0.05457235, 0.6166374 , 0.3287903 ], dtype=float32),
  'class_ids': array([1], dtype=int64),
  'classes': array([b'1'], dtype=object)},
 {'logits': array([-5.787048 , -0.9992045,  1.2131041], dtype=float32),
  'probabilities': array([8.2112441e-04, 9.8569594e-02, 9.0060925e-01], dtype=float32),
  'class_ids': array([2], dtype=int64),
  'classes': array([b'2'], dtype=object)},
 {'logits': array([ 4.3758206,  1.3811644, -4.9792695], dtype=float32),
  'probabilities': array([9.5225364e-01, 4.7663949e-02, 8.2392675e-05], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object)},
 {'logits': array([ 3.4989226,  1.179628 , -4.4504747], dtype=float32),
  'probabilities': array([9.1017008e-01, 8.9508809e-02, 3.2117614e-04], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object)},
 {'logits': array([-6.1369834, -1.0694263,  1.3087733], dtype=float32),
  'probabilities': array([5.3408329e-04, 8.4804945e-02, 9.1466093e-01], dtype=float32),
  'class_ids': array([2], dtype=int64),
  'classes': array([b'2'], dtype=object)},
 {'logits': array([-4.1035895 , -0.585816  ,  0.01878358], dtype=float32),
  'probabilities': array([0.01037185, 0.3496278 , 0.64000034], dtype=float32),
  'class_ids': array([2], dtype=int64),
  'classes': array([b'2'], dtype=object)},
 {'logits': array([-5.685767  , -0.961198  ,  0.91816044], dtype=float32),
  'probabilities': array([0.00117416, 0.13230705, 0.8665188 ], dtype=float32),
  'class_ids': array([2], dtype=int64),
  'classes': array([b'2'], dtype=object)},
 {'logits': array([-3.388196  , -0.35589197, -0.7081926 ], dtype=float32),
  'probabilities': array([0.02752537, 0.57101315, 0.40146148], dtype=float32),
  'class_ids': array([1], dtype=int64),
  'classes': array([b'1'], dtype=object)},
 {'logits': array([-6.0994506, -1.04568  ,  0.9972862], dtype=float32),
  'probabilities': array([7.3226244e-04, 1.1468099e-01, 8.8458675e-01], dtype=float32),
  'class_ids': array([2], dtype=int64),
  'classes': array([b'2'], dtype=object)},
 {'logits': array([-4.5852313 , -0.7260208 ,  0.39021015], dtype=float32),
  'probabilities': array([0.0051749 , 0.24543436, 0.7493907 ], dtype=float32),
  'class_ids': array([2], dtype=int64),
  'classes': array([b'2'], dtype=object)},
 {'logits': array([-4.5641913 , -0.63446033, -0.25447977], dtype=float32),
  'probabilities': array([0.00791689, 0.4029163 , 0.5891668 ], dtype=float32),
  'class_ids': array([2], dtype=int64),
  'classes': array([b'2'], dtype=object)},
 {'logits': array([-4.2631135 , -0.59904516, -0.06024681], dtype=float32),
  'probabilities': array([0.00935475, 0.36502025, 0.625625  ], dtype=float32),
  'class_ids': array([2], dtype=int64),
  'classes': array([b'2'], dtype=object)},
 {'logits': array([-4.2246156 , -0.6191125 ,  0.10795833], dtype=float32),
  'probabilities': array([0.00877653, 0.3229781 , 0.6682453 ], dtype=float32),
  'class_ids': array([2], dtype=int64),
  'classes': array([b'2'], dtype=object)},
 {'logits': array([-6.8775434, -1.2052612,  1.094    ], dtype=float32),
  'probabilities': array([3.1357570e-04, 9.1155581e-02, 9.0853083e-01], dtype=float32),
  'class_ids': array([2], dtype=int64),
  'classes': array([b'2'], dtype=object)},
 {'logits': array([ 4.8900037,  1.493254 , -5.1173463], dtype=float32),
  'probabilities': array([9.6756059e-01, 3.2395784e-02, 4.3605502e-05], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object)},
 {'logits': array([ 5.4407125,  1.6159719, -5.2812943], dtype=float32),
  'probabilities': array([9.7862089e-01, 2.1357520e-02, 2.1582715e-05], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object)},
 {'logits': array([ 4.305445 ,  1.34628  , -4.6651244], dtype=float32),
  'probabilities': array([9.505800e-01, 4.929917e-02, 1.208147e-04], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object)},
 {'logits': array([-5.555194  , -0.9310775 ,  0.52486336], dtype=float32),
  'probabilities': array([0.00185197, 0.18873878, 0.8094093 ], dtype=float32),
  'class_ids': array([2], dtype=int64),
  'classes': array([b'2'], dtype=object)},
 {'logits': array([-4.702706 , -0.762812 ,  0.5481924], dtype=float32),
  'probabilities': array([0.00411268, 0.21144563, 0.7844417 ], dtype=float32),
  'class_ids': array([2], dtype=int64),
  'classes': array([b'2'], dtype=object)}]

In [114]:
type(predictions)

list

In [116]:
a = predictions[0]

In [117]:
type(a)

dict

In [118]:
a['class_ids']

array([0], dtype=int64)

In [126]:
final_predictions = []

for prediction in predictions:
    final_predictions.append(prediction['class_ids'][0])

In [128]:
#final_predictions

In [129]:
from sklearn.metrics import classification_report, confusion_matrix

In [130]:
print(confusion_matrix(y_test,final_predictions))
print('\n')
print(classification_report(y_test,final_predictions))

[[13  0  0]
 [ 0  8 12]
 [ 0  0 12]]


              precision    recall  f1-score   support

           0       1.00      1.00      1.00        13
           1       1.00      0.40      0.57        20
           2       0.50      1.00      0.67        12

   micro avg       0.73      0.73      0.73        45
   macro avg       0.83      0.80      0.75        45
weighted avg       0.87      0.73      0.72        45